:root {
    --greenOne: #444839;
    --greenTwo: #8a9669;
    --greenThree: #95c22b;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    width: 100%;

}

*:focus {
    outline: 0 !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--greenOne);
}

::-webkit-scrollbar-thumb {
    background: var(--greenTwo);
}



header {
    height: 120px;


}

.upper-nav-container {
    height: 60%;
    background-color: #E4E4E4;
    padding-left: 80px;
    font-family: 'september';
    color: #64821C;
    font-size: 32px;
    padding-top: 13px;
}

.lower-nav-container {
    height: 40%;
    background-color: #3B3D31;
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.49);
}

#display {
    width: 95%;
    background-color: #F2F0F0;
    height: auto;
    margin: 30px auto;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);

}

.card {
    height: 500px;
    width: 300px;
    margin: 35px;
    background-color: #f7f7f7;
    position: relative;
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.55);
    float: left;
}

.card-img-container {
    width: 100%;
    height: 50%;

}

.card-bottom-container p {
    cursor: pointer;
}

.card-img {
    object-fit: cover;
    height: 100%;
}

.card-text-container {
    height: 45%;
    width: 100%;
    /* border: 1px solid red; */
    padding: 10px 30px 5px 15px;
}

._title {
    font-size: 24px;
    margin: 0;
    color: #3B3D31;
    height: auto;
}

._title-a {
    font-size: 32px;
    margin: 0;
    color: #3B3D31
}

.brand {
    color: #818181;
    font-size: 20px;
    font-weight: 20;
    height: 22px;
    margin: 0;
}

.variant {
    color: var(--greenThree);
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.extras-container {
    width: 100%;
    height: 50px;

    margin-top: 20px;
}

.card-extras-title {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;
    color: #3B3D31;
    font-size: 16px;
}

.card-extras-text {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;
    color: var(--greenThree);
    font-weight: bold;
    font-size: 20px;
}

p {

    width: auto;
}

hr {
    size: 3;
    width: 95%;
    color: #707070;
    bottom: 45px;
    position: absolute;
}

.vl {
    height: 30px;
    border-left: 1px solid #707070;
    bottom: 22px;
    transform: translateY(50%);
    position: absolute;
    left: 50%;
}


.card-bottom-container {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    align-items: center;
}





/* --------------------------------- */


.big-card {

    height: 700px;
    padding: 50px;
}

.big-card p {
    font-size: 40px;
    top: 200px;
    right: 80px;
    position: absolute;
    color: var(--greenOne);
    cursor: pointer;
}

.big-card p:hover {
    color: var(--greenThree);
}

.pris-a {
    color: var(--greenThree);
    margin-left: 2px;
}

table {
    width: 500px;
    margin-top: 50px;
}

table tr td {
    width: 220px;
    height: 25px;
    font-weight: bold;
}

table tr td:nth-child(2) {
    padding-left: 120px;
    font-weight: lighter;
}

.description {
    width: 400px;
    font-size: 18px;
    margin-top: 50px;
}

.gallery-container {
    width: 500px;
    right: 80px;
    top: 300px;
    position: absolute;
    height: 700px;
}

.image-a {
    height: 150px;
    width: auto;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* .image-a:hover {
    height: 455px;
    position: absolute;
    right: 50%;
    transform: translate(-50%, 50%);
} */